@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow: hidden;
    scroll-behavior: smooth;
}
 
html, body{
    width: 100%; 
    height: 100%;
}
 
body {
    position: relative;
}

.content{
	width: 100%; height: 100%;
	position: relative;
}


/* style class */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* popup---------------------------------- */
/* about-popup---------------------------------- */
.about_popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.581);
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 9999;
}

.about_popup img {
    width: 25%;
    margin-top: 150px;
}

.about_popup button {
    position: absolute;
    top: 9%;
    right: 37.5%;
    border: 0;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

/* redesign-popup---------------------------------- */
.redesign_popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.581);
    width: 100%;
    height: 100%;
    top: 300%;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 9999;
}

.redesign_popup img {
    width: 40%;
    margin-top: 200px;
}

.redesign_popup button {
    position: absolute;
    top: 14%;
    right: 30%;
    border: 0;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

/* header---------------------------------- */
.intro {
    background: url("../images/intro.png") no-repeat center / cover;
    width: 1920px;
    height: 938px
}

.header_top {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.icons {
    font-size: 2rem;
}

.nav #gnb {
    font-size: 1.2rem;
    font-weight: 600;
}
.nav #gnb > li > a:hover {
    border-bottom: 2px solid black;
    padding: .5rem 0;
}

.nav #lnb {
    display: none;
    line-height: 50px;
    text-align: center;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.nav #gnb li:hover #lnb {
    display: block;
}
#lnb li:hover {
    background: white;
    color: black;
    border-top: 1px solid black;
}
#lnb li a:hover {
    border: 0;
}

/* about---------------------------------- */
.about {
    background: url("../images/about-bg.png") no-repeat center / cover;
    width: 100%;
    height: 938px;
}

.about .container {
    background: url("../images/about01.png") no-repeat center / cover;
    background-position: -180px 0;
    height: 100%;
    position: relative;
}

.about .link {
    position: absolute;
    left: 0%;
    bottom: 16.2%;
    background: black;
    color: white;
    padding: .7rem 4rem;
    border-radius: 10px;
}

.about .link:hover {
    background: white;
    color: black;
}

/* clone coading---------------------------------- */
.clone_coading {
    background: url("../images/lottebg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.clone_coading .mac img {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 60%;
}

.clone_coading .ex {
    margin-top: 330px;
    margin-left: 100px;
    line-height: 35px;
}
.clone_coading .ex h3 {
    font-size: 35px;
}
.clone_coading .ex p {
    font-weight: 600;
    font-size: 20px;
}

.clone_coading .ex hr {
    width: 400px;
    border: 1px solid black;
    margin: 1rem 0;
}

.clone_coading .ex ul {
    margin-top: 1rem;
}
.clone_coading .ex li {
    display: flex;
}
.clone_coading .ex li p {
    font-size: 18px;
    font-weight: 500;
}
.clone_coading .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}

.clone_coading .colors img {
    vertical-align: text-bottom;
}

.clone_coading .links {
    position: absolute;
    bottom: 28%;
}
.clone_coading .links li {
    background: black;
    color: white;
    padding: .3rem 4.3rem;
    border-radius: 10px;
}
.clone_coading .links li:hover {
    background: white;
    color: black;
}

/* web_redesign---------------------------------- */
.web_redesign {
    background: url("../images/samsongbg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.web_redesign .mac img {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 60%;
}

.web_redesign .ex {
    margin-top: 330px;
    margin-left: 100px;
    line-height: 35px;
}
.web_redesign .ex h3 {
    font-size: 35px;
}
.web_redesign .ex p {
    font-weight: 600;
    font-size: 20px;
}

.web_redesign .ex hr {
    width: 400px;
    border: 1px solid black;
    margin: 1rem 0;
}

.web_redesign .ex ul {
    margin-top: 1rem;
}
.web_redesign .ex li {
    display: flex;
}
.web_redesign .ex li p {
    font-size: 18px;
    font-weight: 500;
}
.web_redesign .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}

.web_redesign .colors img {
    vertical-align: text-bottom;
}


.web_redesign .links {
    position: absolute;
    bottom: 28%;
}
.web_redesign .links li {
    background: black;
    color: white;
    padding: .3rem 1.1rem;
    border-radius: 10px;
}
.web_redesign .links li:hover {
    background: white;
    color: black;
}

/* web_design---------------------------------- */
.web_design {
    background: url("../images/barunbg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.web_design .mac img {
    position: absolute;
    top: 10%;
    right: 6%;
    width: 60%;
}

.web_design .iphone img {
    position: absolute;
    top: 44%;
    right: 16%;
    width: 9%;
}

.web_design .ex {
    margin-top: 320px;
    margin-left: 100px;
    width: 600px;
    line-height: 35px;
}
.web_design .ex h3 {
    font-size: 35px;
}
.web_design .ex p {
    font-weight: 600;
    font-size: 20px;
}

.web_design .ex hr {
    width: 400px;
    border: 1px solid black;
    margin: 1rem 0;
}

.web_design .ex ul {
    margin-top: 1rem;
}
.web_design .ex li {
    display: flex;
}
.web_design .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}
.web_design .ex li p {
    font-size: 18px;
    font-weight: 500;
}

.web_design .colors img {
    vertical-align: text-bottom;
}

.web_design .links {
    position: absolute;
    bottom: 28%;
}
.web_design .links li {
    background: black;
    color: white;
    padding: .3rem 2rem;
    border-radius: 10px;
}
.web_design .links li:hover {
    background: white;
    color: black;
}

/* movie magazine---------------------------------- */
.movie {
    background: url("../images/graphicbg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.movie .ps_spider img {
    position: absolute;
    width: 50%;
    top: 20%;
    right: 13.8%;
}
.movie .ai_spider1 img {
    position: absolute;
    width: 11%;
    bottom: 12%;
    left: 14%;
}
.movie .ai_spider2 img {
    position: absolute;
    width: 11%;
    bottom: 12%;
    left: 24.9%;
}

.movie .ex {
    margin-top: 190px;
    margin-left: 10px;
    width: 700px;
    line-height: 35px;
}

.movie .ex h3 {
    font-size: 35px;
}
.movie .ex p {
    font-weight: 600;
    font-size: 20px;
}

.movie .ex hr {
    width: 417px;
    border: 1px solid black;
    margin: 1rem 0;
}

.movie .ex ul {
    margin-top: 1.5rem;
}

.movie .ex li {
    display: flex;
    line-height: 50px;
}
.movie .ex li h4 {
    width: 150px;
    font-weight: 700;
    margin-right: 2rem;
    font-size: 20px;
}
.movie .ex li p {
    font-size: 18px;
    font-weight: 500;
}

/* pop art---------------------------------- */
.popart {
    background: url("../images/graphicbg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.popart .art1 img {
    position: absolute;
    width: 25%;
    bottom: 20%;
    left: 36%;
}
.popart .art2 img {
    position: absolute;
    width: 25%;
    bottom: 20%;
    right: 14%;
    border: 1px solid black;
    width: 475px;
}

.popart .ex {
    margin-top: 280px;
    margin-left: 10px;
    width: 700px;
    line-height: 35px;
}

.popart .ex h3 {
    font-size: 35px;
}
.popart .ex p {
    font-weight: 600;
    font-size: 20px;
}

.popart .ex hr {
    width: 350px;
    border: 1px solid black;
    margin: 1rem 0;
}

.popart .ex ul {
    margin-top: 1.5rem;
}

.popart .ex li {
    display: flex;
    line-height: 50px;
}
.popart .ex li h4 {
    width: 130px;
    font-weight: 700;
    margin-right: 2rem;
    font-size: 20px;
}
.popart .ex li p {
    font-size: 18px;
    font-weight: 500;
}

/* popup_design---------------------------------- */
.popoup_design {
    background: url("../images/popupbg.png") no-repeat center /cover;
    width: 100%;
    height: 938px;
    position: relative;
}

.popoup_design .p1 img {
    position: absolute;
    width: 20%;
    bottom: 15%;
    left: 29%;
}
.popoup_design .p2 img {
    position: absolute;
    width: 20%;
    bottom: 15%;
    right: 14%;
}

.popoup_design .ex {
    margin-top: 220px;
    margin-left: 10px;
    width: 700px;
    line-height: 35px;
}

.popoup_design .ex h3 {
    font-size: 30px;
}
.popoup_design .ex p {
    font-weight: 600;
    font-size: 15px;
}

.popoup_design .ex hr {
    width: 250px;
    border: 1px solid black;
    margin: 1rem 0;
}

.popoup_design .ex ul {
    margin-top: 1.5rem;
}

.popoup_design .ex li {
    display: flex;
    line-height: 50px;
}
.popoup_design .ex li h4 {
    width: 100px;
    font-weight: 700;
    margin-right: 2rem;
    font-size: 15px;
}
.popoup_design .ex li p {
    font-size: 13px;
    font-weight: 500;
}

/* about---------------------------------- */
.end {
    background: url("../images/endbg.jpg") no-repeat center / cover;
    width: 100%;
    height: 938px;
}

.copy {
    background: black;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    font-size: .8rem;
}

.copy a {
    color: black;
    font-size: 2rem;
    position: absolute;
    right: 14%;
    bottom: 100%;
}
