@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* style class */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.g1 {
    gap: 1rem;
}
.g2 {
    gap: 2rem;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}
.small_container {
    max-width: 1300px;
    margin: 0 auto;
}

/* header---------------------------------- */
.intro {
    background: url("../images/intro.png") no-repeat center / cover;
    width: 1920px;
    height: 940px;
}

.header_top {
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.nav #lnb {
    display: none;
    line-height: 50px;
    text-align: center;
    background: black;
    color: white;
}

.nav #gnb li:hover #lnb {
    display: block;
}

#lnb li:hover {
    background: white;
    color: black;
}

/* about---------------------------------- */
.about {
    background: rgb(201, 201, 201);
    width: 1920px;
    height: 940px;
    position: relative;
}
.about li {
    margin: 20px 0;
}

.about .me img {
    margin-top: 250px;
    border-radius: 10px;
}

.about .texts {
    width: 800px;
    line-height: 60px;
    margin-top: 200px;
    gap: 6rem;
}
.about .texts h3 {
    font-size: 30px;
}
.about .texts p {
    font-size: 18px;
}
.about .texts span {
    font-weight: 700;
    margin-right: 2rem;
}


.about .skills {
    line-height: 50px;
}
.about .skills li {
    position: relative;
}
.about .skills .percent {
    font-weight: 500;
    position: absolute;
    right: 23%;
}

.about .basic {
    line-height: 50px;
    border-right: 1px solid black;
    border-radius: 20px;
}
.about .basic p {
    font-weight: 700;
}
.about .basic p:last-child {
    width: 210px;
    position: absolute;
    bottom: 21%;
    right: 14%;
}

.about .link {
    position: absolute;
    left: 30.5%;
    bottom: 14%;
    background: black;
    color: white;
    padding: .7rem;
    border-radius: 10px;
}

/* clone coading---------------------------------- */
.clone_coading {
    background: rgb(255, 139, 139);
    width: 1920px;
    height: 940px;
    position: relative;
}

.clone_coading .mac {
    margin-top: 250px;
    width: 620px;
    text-align: center;
}

.clone_coading .mac img {
    width: 100%;
}

.clone_coading .ex {
    margin-top: 320px;
    margin-left: 100px;
    line-height: 35px;
}
.clone_coading .ex h3 {
    font-size: 35px;
}
.clone_coading .ex p {
    font-weight: 600;
    font-size: 25px;
}

.clone_coading .ex hr {
    width: 290px;
    border: 1px solid black;
    margin: 1rem 0;
}

.clone_coading .ex ul {
    margin-top: 1rem;
}
.clone_coading .ex li {
    display: flex;
}
.clone_coading .ex li p {
    font-size: 18px;
    font-weight: 500;
}
.clone_coading .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}

.clone_coading .links {
    position: absolute;
    bottom: 33%;
}
.clone_coading .links li {
    background: black;
    color: white;
    padding: .3rem .8rem;
    border-radius: 10px;
}
.clone_coading .links li:hover {
    background: white;
    color: black;
}

/* web_redesign---------------------------------- */
.web_redesign {
    background: rgb(255, 216, 143);
    width: 1920px;
    height: 940px;
    position: relative;
}

.web_redesign .mac {
    margin-top: 250px;
    width: 620px;
    text-align: center;
}

.web_redesign .mac img {
    width: 100%;
}

.web_redesign .ex {
    margin-top: 320px;
    margin-left: 100px;
    width: 600px;
    line-height: 35px;
}
.web_redesign .ex h3 {
    font-size: 35px;
}
.web_redesign .ex p {
    font-weight: 600;
    font-size: 25px;
}

.web_redesign .ex hr {
    width: 400px;
    border: 1px solid black;
    margin: 1rem 0;
}

.web_redesign .ex ul {
    margin-top: 1rem;
}
.web_redesign .ex li {
    display: flex;
}
.web_redesign .ex li p {
    font-size: 18px;
    font-weight: 500;
}
.web_redesign .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}

.web_redesign .links {
    position: absolute;
    bottom: 33%;
}
.web_redesign .links li {
    background: black;
    color: white;
    padding: .3rem .8rem;
    border-radius: 10px;
}
.web_redesign .links li:hover {
    background: white;
    color: black;
}

/* web_design---------------------------------- */
.web_design {
    background: rgb(161, 255, 159);
    width: 1920px;
    height: 940px;
    position: relative;
}

.web_design .mac {
    margin-top: 250px;
    width: 620px;
    text-align: center;
}

.web_design .mac img {
    width: 100%;
}

.web_design .ex {
    margin-top: 320px;
    margin-left: 100px;
    width: 600px;
    line-height: 35px;
}
.web_design .ex h3 {
    font-size: 35px;
}
.web_design .ex p {
    font-weight: 600;
    font-size: 25px;
}

.web_design .ex hr {
    width: 400px;
    border: 1px solid black;
    margin: 1rem 0;
}

.web_design .ex ul {
    margin-top: 1rem;
}
.web_design .ex li {
    display: flex;
}
.web_design .ex li p {
    font-size: 18px;
    font-weight: 500;
}
.web_design .ex li h4 {
    width: 50px;
    font-weight: 700;
    margin-right: 2rem;
}

.web_design .links {
    position: absolute;
    bottom: 33%;
}
.web_design .links li {
    background: black;
    color: white;
    padding: .3rem .8rem;
    border-radius: 10px;
}
.web_design .links li:hover {
    background: white;
    color: black;
}
